<%= render partial: 'shared/navbar', locals: { white_logo: false }  %>

<div class="connection-card">
  <%= image_tag "sign_in_logo.png" %>
  <div class="connection-right">
    <div class="text-center">
      <h3>
        S'enregistrer sur <span>LIVUBI</span>
      </h3>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs user-form mt-3">
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    label: "Identifiant",
                    placeholder: "Identifiant de votre espace" %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" },
                    label: "Adresse email",
                    placeholder: "Votre adresse email" %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    label: "Mot de passe",
                    placeholder: "Mot de passe d'au moins #{@minimum_password_length} caractères" %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    label: "Confirmer le mot de passe",
                    placeholder: "Saisir de nouveau le mot de passe" %>
      </div>

      <div class="d-flex justify-content-end mt-4">
        <%= f.button :submit, "INSCRIPTION", class: "button-pill button-pill-red button-pill-big" %>

      </div>
    <% end %>

  </div>
</div>
