<div class="footer">
  <div class="footer-columns">
    <div class="footer-column footer-column-large">
      <div class="footer-title">
        <%= image_tag 'logo_2al.svg', id: "logo-2al" %>
      </div>
      <div class="footer-text">
        Création, production et diffusion de contenus image et vidéo.
        Saint-mandé / Saint-Maur-des-fossés
      </div>
    </div>
    <div class="footer-column footer-column-small">
      <div class="footer-title">
        Support
      </div>
      <ul class="footer-text">
        <li>
          Centre d'aide
        </li>
        <li>
          Nous contacter
        </li>
      </ul>
    </div>
    <div class="footer-column footer-column-small">
      <div class="footer-title">
        A propos
      </div>
      <ul class="footer-text">
        <li>
          Mentions légales
        </li>
        <li>
          CGU
        </li>
        <li>
          Politique de confidentialité
        </li>
      </ul>
    </div>
    <div class="footer-column footer-column-large">
      <div class="footer-title">
        Newsletter
      </div>
      <form action="" class="form-inline" id="newsletter-form">
        <input type="text" id="newsletter-email" name="email" placeholder="EMAIL">
        <div id="newsletter-send">
          <%= image_tag 'send_btn_2.svg' %>
        </div>
      </form>

    </div>
  </div>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to "Accueil", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Lives", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Théatre", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Concerts", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Nouveautées", "#", class: "nav-link" %>
    </li>

  </ul>

</div>
