<%= link_to show_path(show) do %>
  <div class="show-thumbnail" style="background-image: url('<%= cl_image_path show.thumbnail.key %>')">
    <div class="thumbnail-hover">
      <%= image_tag 'play.svg', class: "thumbnail-play" %>
      <div class="thumbnail-title"><%= show.name %></div >
      <div class="thumbnail-artist"><%= show.artist.name %></div>
      <div class="thumbnail-style"><%= show.style %></div>
    </div>
  </div>
<% end %>
