<%= render 'shared/sliding_menu' %>


<div class="home-container">
  <div class="featured">
    <div class="featured-left">
      <div class="featured-nav">
        <button class="featured-item featured-item-active">01</button>
        <button class="featured-item">02</button>
        <button class="featured-item">03</button>
      </div>
      <div class="featured-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <button class="featured-discover">Découvrir</button>
    </div>
    <%= image_tag "2al-banner.png", class: "featured-img" %>
  </div>

  <% @categories.each do |category| %>
    <% next if category.shows.empty? %>
    <div class="category-name">
      <%= category.name %>
    </div>
    <div class="category-shows">
      <% category.shows.each do |show|  %>
        <div class="show-thumbnail" style="background-image: url('<%= cl_image_path show.thumbnail.key %>')">
          <div class="thumbnail-hover">
            <%= image_tag 'play.svg', class: "thumbnail-play" %>
            <div class="thumbnail-title"><%= show.name %></div >
            <div class="thumbnail-artist"><%= show.artist.name %></div>
            <div class="thumbnail-style"><%= show.style %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="category-name">Plus de catégories</div>
  <%= image_tag "plus.svg", class: "more-categories" %>
</div>
