<%= render partial: 'shared/navbar', locals: { white_logo: false }  %>


<div class="booking-container container">
  <div style="background-image: url('<%= cl_image_path @show.wide_poster.key %>')">

  </div>
  <div>

    <div>
      <div class="text-booking">RÉCAPITULATIF DE VOTRE COMMANDE</div>
      <p>
        Réservation de  <strong><%= @booking.nb_tickets %></strong>
         places pour <strong><%= @booking.show.name %></strong>
         de <strong><%= @booking.show.artist.name %></strong>,
         le <strong><%= @booking.show.date.strftime("%d.%m.%Y") %></strong>
          à <strong><%= @booking.show.time.strftime("%HH%M") %></strong>
      </p>
      <p>Montant total: <strong><%= humanized_money @booking.amount %> €</strong></p>
      <button id="pay" class="btn-red align-self-center">PAYER</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>

    </div>

  </div>
</div>
