<%= render partial: 'shared/navbar', locals: { white_logo: false }  %>

<div class="show-poster"  style="background-image: url('<%= cl_image_path @show.wide_poster.key %>')">
  <div class="show-info">
    <h2 class="show-title">
      <%= @show.artist.name.upcase %> <br>
      <%= @show.name %>
    </h2>
    <div class="show-description">
      <%= @show.description %>
    </div>

    <%= link_to new_show_booking_path(@show), class: "button-watch"  do %>
      <div class="arrow-right"></div>REGARDER
    <% end %>
  </div>
</div>

<div class="home-container">
  <%= render partial: 'shared/shows_collection',
             locals: {
              title: 'À L’AFFICHE',
              shows: @featured_shows,
              yellow_band: true
             } %>

  <div class="blank-4"></div>

  <% @featured_shows.each do |show| %>
    <%= render partial: 'shared/card_featured_show', locals: { show: show } %>
  <% end %>
</div>



<%= render 'shared/footer' %>
