<%= render partial: 'shared/navbar', locals: { white_logo: true }  %>
<%= render 'shared/sliding_menu' %>

<div class="show-poster"  style="background-image: url('<%= cl_image_path @show.wide_poster.key %>')">
  <div class="show-info">
    <h2 class="show-title">
      <%= @show.artist.name.upcase %> <br>
      <%= @show.name %>
    </h2>
    <div class="show-description">
      <%= @show.description %>
    </div>

    <button class="button-watch"><div class="arrow-right"></div>REGARDER</button>
  </div>
</div>

<div class="home-container">
  <%= render partial: 'shared/shows_collection',
             locals: {
              title: 'À L’AFFICHE',
              shows: @featured_shows,
              yellow_band: true
             } %>

  <div class="blank-4"></div>

  <% @featured_shows.each do |show| %>
    <%= render partial: 'shared/card_featured_show', locals: { show: show } %>
  <% end %>
</div>



<%= render 'shared/footer' %>
