<%= render 'shared/sliding_menu' %>

<div class="show-poster"  style="background-image: url('<%= cl_image_path @show.wide_poster.key %>')">
  <div class="show-info">
    <h2 class="show-title">
      <%= @show.artist.name.upcase %> <br>
      <%= @show.name %>
    </h2>
    <div class="show-description">
      <%= @show.description %>
    </div>

    <button class="button-watch"><div class="arrow-right"></div>REGARDER</button>
  </div>
</div>

<div class="home-container">
  <%= render partial: 'shared/shows_collection',
             locals: {
              title: 'À L’AFFICHE',
              shows: @featured_shows,
              yellow_band: true
             } %>

  <div class="blank-100"></div>

  <% @featured_shows.each do |show| %>
    <div class="card-featured">
      <%= cl_image_tag show.thumbnail.key , class: "card-featured-thumbnail"%>
      <div class="card-featured-details">
        <div class="card-featured-artist">
          <%= show.artist.name %>
        </div>
        <div class="card-featured-title">
          <%= show.name %>
        </div>
        <div class="card-featured-description">
          <%= show.description %>
        </div>

        <div class="card-featured-numbers">
          <%= image_tag "calendar.svg" %>
          <span><%= show.date.strftime("%d.%m.%Y") %></span>
          <%= image_tag "clock.svg" %>
          <span><%= show.time.strftime("%HH%M") %></span>
          <%= image_tag "euro.svg" %>
          <span><%= show.price.round %>€</span>
        </div>
      </div>
      <button class="button-book">RESERVEZ</button>
    </div>
  <% end %>
</div>



<%= render 'shared/footer' %>
